<h3 class="list-header">Create more Rooms for <%= @project.name %></h3>
<div class="list-position">
  <div class="list-wrapper">
    <%= simple_form_for @roomtype, url: booking_project_roomtypes_path('sd', Booking.first, @project), html: {class: 'new-form'} do |builder| %>
      <%= render 'projects/roomtype_fields', f: builder %>
      <div class="form-actions">
        <%= f.submit class: 'stacey-button reverse-hover' %>
      </div>
    <% end %>
  </div>
</div>
