<p>Hello <%= @user.first_name %>,</p>
<p>We are excited to hear about your interest in living with us and in becoming a part of the STACEY family!</p>

<p>I have to tell you that all Basic+ suites are already booked currently.</p>
<p>If you´re interested in one of our other suites (Premium & Jumbo) just reach out to me and we can have a chat.</p>


<p>On our <%= link_to 'website', 'https://www.stacey.de/', style: 'color: blue;' %> you can read all about our coliving spaces and find more infos about the Premium and Jumbo suites.</p>

<p>Cheers</p>
<p>Matteo</p>
