<p>Hello <%= @user.first_name %>,</p>
<p>We are excited to hear about your interest in living with us and in becoming a part of the STACEY family!</p>

<p>We will reach out to you with the possibility to schedule a video call shortly. In the meantime, you can familiarize yourself with our Co-Living concept on our <%= link_to 'website', 'https://www.stacey.de/', style: 'color: blue;' %> .</p>

<p>Cheers</p>
<p>Matteo</p>
