<p>Hello <%= @user.first_name %>,</p>
<p>We are excited to hear about your interest in living with us and in becoming a part of the STACEY family!</p>
<p>To get started we would like to invite you to a 10min video call, in which you will get to know our Co-Living concept better and have a chance to ask us all remaining questions.</p>
<p>Therefore please pick a timeslot by clicking on the link below.</p>
<p><%= link_to 'scedule call', 'https://calendly.com/stacey-living', style: 'color: blue;' %></p>
<p>If problems occur, reply to this email or call us at +49 (0)40 696389600.</p>
<p>Looking forward to our call.</p>
<p>Cheers</p>
<div class="email-signature">
  <p class="signature-name">Matteo Kreidler</p>
  <p class="signature-text">STACEY Real Estate UG (haftungsbeschränkt) i.G.</p>
  <p class="signature-text">Brandstwiete 36 | 20457 Hamburg</p>
  <p class="signature-text">Email: <%= mail_to "matteo@stacey-living.de"%></p>
  <p class="signature-text">Website: <%= link_to 'www.stacey.de',"http://www.stacey.de"%></p>
</div>
