<p>Hey <%= @applicant.first_name %>,</p>
<p>Thank you for your interest in our Co-Living apartments.</p>
<p>Currently we are working on the launch of our first community in Hamburg-Eppendorf, which will open its doors this June. I will make sure to contact you once the opening date is approaching.</p>
<p>If you have any further questions, please don't hesitate to drop me a message.</p>
<p>Cheers</p>
<div class="email-signature">
  <p class="signature-name">Matteo Kreidler</p>
  <p class="signature-text">STACEY Real Estate UG (haftungsbeschränkt) i.G.</p>
  <p class="signature-text">Brandstwiete 36 | 20457 Hamburg</p>
  <p class="signature-text">Email: <%= mail_to "matteo@stacey-living.de"%></p>
  <p class="signature-text">Website: <%= link_to 'www.stacey-living.de',"http://www.stacey-living.de"%></p>
</div>
