<p>Hi <%= @user.first_name %>,</p>
<p>I am excited to hear about your interest in living with us and becoming a part of the STACEY family! It looks like we do have availabilities across our locations for your selected move-in date in Hamburg.</p>


<div style="display: grid;">
  <span><strong>So what is the next step?</strong></span>
	<span>To get started I will get back to you for a 10min call, in which you will get to know our Co-Living concept better and have a chance to ask me all your questions..</span>
	<span>Therefore, please pick a timeslot by clicking on the link below:</span>
</div>
<p>If you do not get a call from us within the next 48h, reply to this email or call me at +49 40 696389600. I am excited to get to know you :)</p>

<span>Cheers</span>
<br>
<span>Hannah</span>
<br>
<%= image_tag attachments['logo.png'].url, style: 'margin-top: 20px; width: 150px;' %>
