.apply-formpage-container {
  // padding-top: 60px;
  background-color: #F9F9F9;
}

.apply-form-wrapper {
  display: flex;
  justify-content: center;
}

.center-apply-form {
  max-width: 75vw;
  padding-top: 150px;
  padding-bottom: 200px;
  position: relative;
  background: transparent;
  min-width: 320px;
  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }
  .wrap-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    @media screen and (max-width: 850px) {
      flex-wrap: unset;
      flex-direction: column;
      justify-content: center;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-control {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #384a52;
      border-radius: 0px !important;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
    }
    label {
      padding-left: 12px;
      color: black;
      // font-size: smaller;
      font-weight: bolder;
      font-size: 15px;
    }
    @media (min-width: 768px) {
      select {
        -webkit-appearance: none;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .d-flex.flex-row.justify-content-between.align-items-center {
      display: flex;
      border-bottom: 1px solid #384a52;
      select {
        width: auto;
      }
    }
  }
}

.apply-button-position {
  width: 40%;
  min-width: 200px;
  height: 45px;
  margin-top: 30px;
}

.apply-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  color: black;
  border: 1px solid #fd8fb8;
  transition: all .5s ease;
  @media screen and (max-width: 850px) {
    height: 40px;
    position: unset;
    margin-top: 20px;
  }
}

.social-media {
  .social-media-links {
    margin-top: 8px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      line-height: 1em;
      padding: 10px;
      background: #EAEAEA;
      border-radius: 50%;
      width: 40px;
      outline: none !important;
      cursor: pointer;
      i {
        width: 20px;
        height: 20px;
        text-align: center;
        align-items: center;
      }
    }
    .confirmed{
      background: #71c571;
      i{
        color: white;
      }
    }
  }
}

.apply-field.social-media{
  position: relative;
}


// .apply-button {
//   position: absolute;
//   bottom: 130px;
//   left: 15px;
//   width: 20%;
//   height: 6.5%;
//   transition: all 0.5s ease;
//   min-width: 150px;
//   @media screen and (max-width: 850px) {
//     height: 40px;
//     position: unset;
//   }
// }

.btn:hover {
  text-decoration: none;
  color: white;
  background: black;
}

.apply-field {
  width: 47%;
  min-width: 320px;
  max-width: 490px;
  ::placeholder {
    color: black;
    opacity: 0.2;
  }
  .date {
    .form-control{
      border: none !important;
      // border-bottom: 1px solid #384a52;
    }
  }
  .suite-check-boxes{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
  }
  .duration-of-stay-error{
    p{
      font-size: 12px;
      color: red;
      margin: 0;
      margin-top: -20px;
      margin-bottom: 4px;
      padding-left: 5px;
    }
  }
  .invalid-feedback-prefered-suite{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #EE5F5B;
  }
}

.apply-field.social-links{
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 3px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  position: absolute;
  width: 100%;
  @media screen and (max-width: 850px) {
    align-self: unset;
  }
  label {
    display: none;
  }
  .form-group {
    width: -webkit-fill-available;
    ::placeholder {
      text-transform: none;
    }
  }
  .social-button {
    background-color: #d5d5d5;
  }
}

.phone-wrapper {
  display: flex;
  min-width: 320px;
  width: 47%;
  .phone-code {
    width: auto;
    min-width: 70px;
  }
  .phone {
    width: -webkit-fill-available;
    min-width: 220px;
  }
}


.apply-form-picture {
  width: 50vw;
}

.apply-formpage-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 5px;
  background: white;
  min-height: 45vh;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    justify-content: center
  }
  .apply-formpage-introduction-picture {
    margin-right: 2%;
    margin-bottom: -70px;
  }
  .apply-form-header {
    width: 28vw;
    margin-left: 9%;
    font-size: 36px;
    text-align: center;
    @media (max-width: 768px) {
      width: 70%;
      margin-left: 0;
      .apply-formpage-introduction-picture {
        visibility: hidden;
      }
    }
  }
}

