.apply-formpage-container {
  padding-top: 60px;
  background-color: #F9F9F9;
}

.apply-form-wrapper {
  display: flex;
  justify-content: center;
}

.center-apply-form {
  max-width: 80vw;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  background: transparent;
  min-width: 320px;
  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    @media screen and (max-width: 850px) {
      flex-wrap: unset;
      flex-direction: column;
      justify-content: center;
    }
    .form-control {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #384a52;
      border-radius: 0px !important;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    label {
      padding-left: 12px;
      color: black;
      // font-size: smaller;
      font-weight: bolder;
    }
    @media (min-width: 768px) {
      select {
        -webkit-appearance: none;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .d-flex.flex-row.justify-content-between.align-items-center {
      display: flex;
      border-bottom: 1px solid #384a52;
      select {
        width: auto;
      }
    }
  }
}

.apply-button {
  position: absolute;
  bottom: 130px;
  left: 15px;
  width: 20%;
  height: 6.5%;
  transition: all 0.5s ease;
  min-width: 150px;
  @media screen and (max-width: 850px) {
    height: 40px;
    position: unset;
  }
}

.btn:hover {
  text-decoration: none;
  color: white;
  background: black;
}

.apply-field {
  width: 47%;
  min-width: 320px;
  ::placeholder {
    color: black;
    opacity: 0.2;
  }
  .date {
    .form-control{
      border: none !important;
      // border-bottom: 1px solid #384a52;
    }
  }
}

.phone-wrapper {
  display: flex;
  min-width: 320px;
  width: 47%;
  .phone-code {
    width: auto;
    min-width: 70px;
  }
  .phone {
    width: -webkit-fill-available;
    min-width: 220px;
  }
}


.apply-form-picture {
  width: 50vw;
}

.apply-formpage-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background: white;
  min-height: 45vh;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    justify-content: center
  }
  .apply-formpage-introduction-picture {
    margin-right: 2%;
    margin-bottom: -70px;
  }
  .apply-form-header {
    width: 28vw;
    margin-left: 9%;
    font-size: 36px;
    text-align: center;
    @media (max-width: 768px) {
      width: 70%;
      margin-left: 0;
      .apply-formpage-introduction-picture {
        visibility: hidden;
      }
    }
  }
}

