.overview-container{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    .filter-container{
    	width: 90%;
	 	.inputs{
	    	display: grid;
		    grid-template-columns: 1fr 1fr 1fr;
		    grid-gap: 15px;
		    margin: 10px 0;
	 	}
    }
}

.modal-container{
	display: flex;
	flex-direction: column;
  width: 100%;
  .modal-header{
    width: 100%;
    justify-content: center;
    #modal-title{
      margin: 0;
    }
  }
  .modal-body{
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto;
    button.fixButton{
      position: absolute;
      left: calc(50% - 100px);
      z-index: 1;
    }
  	.modal-content{
  		padding: 15px 40px;
      border: none;
  		td{
  			padding: 5px 10px;
  		}
  	}
    .button-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a.bookingProcess{
        text-align: end;
      }
    }
  }
	button.closeModalButton{
		align-self: flex-end;
    padding: 5px 10px;
    background: darkgreen;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    top: 0;
    color: white;
	}
}
