.overview-container{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    .filter-container{
    	width: 90%;
	 	#view{
	 		width: 250px;
	 	}
	 	.inputs{
	    	display: grid;
		    grid-template-columns: 1fr 1fr 1fr;
		    grid-gap: 15px;
		    margin: 10px 0;
	 	}
    }
}