.contracts-page-wrapper{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contract-page-container{
    width: 80vw;
    embed{
      height: 70vh;
      width: 800px;
    }
  }
}
