
.contract-page-wrapper{
  margin: 0 50px;
  .contract-page-header{
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid #DADADA;
    border-radius: 5px;
    background: #fd8fb8;
    color: white;
    h2{
      margin: 0;
      font-size: 35px;
      text-align: start;
      font-weight: bolder;
    }
  }
  .contract-page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: calc(100vh - 133px);
    margin: 30px 0px 50px;
    .contract-user-form{
      border: 1px solid #777777;
      border-radius: 5px;
      padding: 30px;
      width: 30%;
      min-height: 280px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      .back-arrow{
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
      }
      .stacey-button{
        width: 100%;
        padding: 9px;
      }
      .line{
        border-bottom: 1px solid lightgray;
        width: calc(100% + 60px);
        margin: 15px 0 15px -30px;
      }
      .new_contract{
        .form-group{
          label{
            font-weight: 600;
          }
          .form-control{
            text-transform: none;
          }
        }
        .signature-fields{
          textarea{
            height: 100px;
            text-align: center;
            font-size: 60px;
            font-family: 'Mr De Haviland', cursive;
            color: black;
            resize: none;
          }
        }
      }
    }
    #pdf{
      width: 60%;
      height: calc(100vh - 133px);
      embed{
        height: 100%;
        width: 100%;
      }
    }
  }
  .contract-page-container.contract-show{
    flex-direction: column;
    .contract-to-payment-button{
      align-self: flex-end;
      margin-top: 30px;
      font-size: 20px;
    }
  }
}

