.contracts-page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000a3;
  height: calc(100vh - 60px);
  position: relative;
  .contract-page-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    #pdf{
      width: 60%;
      height: 92%;
      embed{
        height: 100%;
        width: 100%;
      }
    }
    .button {
      padding: 5px;
      bottom: -40px;
      width: 100px;
      border: 1px solid #000;
      background-color: white;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color: #000;
      text-align: center;
      margin: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    .button:hover{
      background-color: #000;
      color: #fff;
    }
    .button-container{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .contract-form{
      width: 40%;
    }
  }
}
.opacity{
  opacity: 0.5;
}
