.room-photo {
  height: 380px;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-wrapper {
  background: white;
  background: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  .booking-form-container{
    width: 430px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #777777;
    border-radius: 4px;
    margin-top: -50px;
    background: white;
    position: sticky;
    top: calc(50vh - 212px);
    right: 60px;
    background: #f9f9f9;
    .line {
      border-bottom: 1px solid #777777;
      margin: 20px 0;
    }
    .booking-form{
      width: 85%;
      margin-top: 10px;
      form {
        .form-group:last-child{
          margin-bottom: 0;
        }
        .form-control-label{
          font-size: 16px;
          font-weight: bolder;
        }
        .form-control{
          -webkit-appearance: none;
          border: 1px solid #777777;
          box-shadow: none;
          border-radius: 5px;
          font-size: 16px;
        }
        .date {
          .form-control{
            border: none;
            width: auto;
          }
          .d-flex.flex-row.justify-content-between.align-items-center{
            border: 1px solid #777777;
            border-radius: 5px;
            background: white;
          }
        }
        #book-button{
          width: 100%;
          background: #4acb67;
          border-radius: 5px;
          height: 45px;
          color: white;
        }
        #book-button:hover{
          background: #5fbf75;
        }
      }
    }
    .booking-form-pricing {
      p{
        margin: 0;
      }
      .info-field{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #777777;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 8px;
        background: white;
        .header{
          font-weight: bolder;
        }
      }
      .changed{
        border: 2px solid #0006ff;
      }
    }
  }
  .details-container {
    width: 60vw;
    padding-left: 80px;
    margin-top: 20px;
    .section{
      margin: 60px 0;
      .header{
        margin-bottom: 23px;
      }
    }
    .room-infos{
      display: flex;
      flex-direction: column;
      .room-infos-header{
        display: flex;
        margin-bottom: 30px;
        h3{
          font-size: 32px;
          font-weight: 600;
        }
        .balcony{
          font-style: italic;
          margin-left: 5px;
        }
      }
      .room-infos-services {
        display: flex;
        flex-wrap: wrap;
        color: #777777;
        border-top: 1px solid #777777;
        border-bottom: 1px solid #777777;
        padding: 30px 0;
        .detail{
          display: flex;
          width: 50%;
          i{
           font-size: 18px;
           width: 35px;
           text-align: center;
          }
        }
      }
    }
    .about-this-room {
      img{
        width: 75%;
      }
    }
    .about-this-project {
      img{
        width: 100%;
      }
    }
  }
}

