.log-in-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  .log-in-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #ffffffb3;
    width: 32vw;
    height: 62vh;
    min-width: 300px;
    .log-in-input-fields-wrapper {
      background-color:  #fdfdfd;
      height: 72%;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      .log-in-fields{
        width: 65%;
        padding-top: 10px;
        .remember-field {
          display: flex;
          .remember-checkbox {
            margin: 4px 7px 0;
          }
        }
        a {
          color: #469ae0ab;
          text-decoration: none;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .log-in-button {
          position: absolute;
          right: 40%;
          bottom: 13%;
        }
        .set-password-button {
          position: absolute;
          left: 29%;
          bottom: 28%;
        }
      }
    }
    .logo-container {
      width: 100%;
      height: 26%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 62%;
      }
    }
  }
}
