.partner-formpage-wrapper {
  padding-top: 60px;
  background-color: #F9F9F9;
}
.partner-formpage-introduction {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  min-height: 45vh;
  @media (max-width: 768px) {
    justify-content: center
  }
  .partner-formpage-picture {
    margin-bottom: -70px;
    margin-right: 2%;
  }
  .partner-formpage-header {
    width: 35vw;
    margin-left: 7%;
    font-size: 150%;
    text-align: center;
    @media (max-width: 768px) {
      width: 70%;
      margin: 0;
      .partner-formpage-picture {
        visibility: hidden;
      }
    }
  }
}

.partner-form {
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  background: transparent;
  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    @media screen and (max-width: 850px) {
      flex-wrap: unset;
      flex-direction: column;
      justify-content: center;
    }
    .form-control {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #384a52;
      border-radius: 0px !important;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    label {
      padding-left: 12px;
      color: black;
      font-size: smaller;
      font-weight: bold;
    }
    select {
      -webkit-appearance: none;
    }
  }
  .partner-formpage-field {
    width: 47%;
    min-width: 320px;
    ::placeholder {
      color: black;
      opacity: 0.2;
    }
  }
  .partner-formpage-button {
    position: absolute;
    bottom: 130px;
    left: 40%;
    width: 20%;
    height: 8%;
    min-width: fit-content;
    @media screen and (max-width: 850px) {
      height: 40px;
      position: unset;
      margin-top: 15px;
    }
  }
  .btn:hover {
    text-decoration: none;
    color: white;
    background: black;
  }
  .partners-phone-wrapper {
    display: flex;
    min-width: 320px;
    width: 47%;
    .phone-code {
      width: auto;
      min-width: 70px;
    }
    .phone {
      width: -webkit-fill-available;
      min-width: 220px;
    }
  }

  .message {
    .form-control {
      height: 39px;
    }
  }
}
