.project-choose{
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid #DADADA;
  border-radius: 5px;
  background: #fd8fb8;
  color: white;
  margin: 0 0 30px;
  h2{
    margin: 0;
    font-size: 35px;
    text-align: start;
    font-weight: bolder;
  }
}
