.room-photo {
  height: 380px;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-wrapper {
  width: 60vw;
}
