.header-carousel{
  margin: 0 50px;
  position: relative;
  .photo{
    display: flex;
    align-items: center;
    img{
      height: 500px;
      width: 100%;
      object-fit: contain;
      background: #1d1d1d;
    }
  }
  .carousel-inner{
    position: relative;
    border-radius: 5px;
  }
}
.project-short-description{
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin: 0 50px;
  justify-content: space-between;
  .location-name{
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    padding-right: 50px;
  }
  .description{
    padding-left: 20px;
    width: 85%;
  }
}
.common-space-info{
  margin: 0px 50px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  .info-header{
    font-weight: 500;
    font-size: 24px;
  }
  .description{
    // margin-bottom: 10px;
    br{
      display: block;
      margin: 10px 0;
      content: '';
    }
  }
  .common-space-amenities{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 700px;
    align-self: center;
    li{
      width: 45%;
      text-align: start;
      list-style: none;
      word-break: break-word;
    }
  }
}

.project-info-wrapper{
  .project-info-photos{
    max-height: 500px;
    overflow: hidden;
    background-color: #1d1d1d;
    position: relative;
    border-radius: 5px;
    img{
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .photo-aligned{
      position: absolute;
      top: 8px;
      padding: 4px 12px;
      color: white;
      border-radius: 5px;
    }
    i.fa-image{
      right: 8px;
      font-size: 35px;
      background-color: rgba(0,0,0,.7);
      cursor: pointer;
    }
  }
  .project-info-container{
    margin: 40px 0 60px;
    @media (max-width: 767px){
      margin: 40px 25px 60px;
    }
    .name{
      display: flex;
      flex-direction: column;
      font-weight: 500;
    }
    .description{
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 767px){
  .section{
    margin: 0 25px;
  }
}

h3.section-header{
  margin-bottom: 1rem;
}

.community_area-amenities-wrapper{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  .community_area-amenities-container{
    grid-gap: 30px 60px;
    .amenity{
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
      align-items: center;
      img{
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 100px) {
  .project-info-wrapper .project-info-container .name{
    border-bottom: 1px solid #1d1d1d;
    padding: 0 0 10px;
    margin: 0 0 10px;
    font-size: 23px;
  }

}

@media (min-width: 576px) {
  .project-info-wrapper .project-info-container{
    display: grid;
    grid-template-columns: auto 1fr;
    .name{
      border-bottom: none;
      border-right: 1px solid #1d1d1d;
      padding: 0 50px 0 0;
      margin: 0 30px 0 0;
      font-size: 25px;
    }
  }
  .community_area-amenities-wrapper .community_area-amenities-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

