.container {
  position: relative;
  margin-top: 70px;
  width: 100%;
  @media (min-width: 576px){
    max-width: 540px;
  }
  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 992px){
    max-width: 960px;
  }
  @media (min-width: 1200px){
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.users-show-wrapper {
  margin: 20px auto;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.bio {
  flex: 1;
  border-radius: 3px;
}

// .bio-header {
//   position: relative;
//   text-align: center;
//   padding: 32px 0px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.users-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  img {
    width: 160px;
  }
}

.rounded-circle {
  border-radius: 50% !important;
}

.users-identity {
  h1 {
    font-size: 25px;
    color: #333333;
    font-weight: 600;
    letter-spacing: -0.03rem;
  }
}

.edit-link {
  :hover {
    color: #7a7a7a;
  }
  a {
    display: flex;
    color: #474545;
    font-weight: 400;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
  }
  p{
    padding-right: 5px;
  }
}

.bio-header h4, .bio-header a {
    font-size: 17px;
}

.bio-body {
  padding: 24px 40px 40px 40px;
}

.bio-contact {
  margin-bottom: 32px;
  text-align: center;
}

.bio-description-header {
  display: flex;
  align-items: baseline;
  h3 {
    font-size: 21px;
    color: #333333;
    font-weight: 600;
    letter-spacing: -0.03rem;
  }
}

.pencil-edit {
  cursor: pointer;
  border: 0;
  margin-bottom: 0.5rem;
  color: #474545;
  background-color: transparent;
  :hover {
    color: #7a7a7a;
  }
}

.bio-text {
  border: 0;
  width: 100%;
  resize: none;
}

.bio-disabled {
  pointer-events: none;
}

.bio-editable {
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 10px;
}

.btn-default-flat {
  background-color: #EAEAEA;
  color: #333333 !important;
  border: 0;
  box-shadow: 0px 0px 1px #EAEAEA;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-default-flat:hover, .btn-default-flat:focus, .btn-default-flat:not([disabled]):not(.disabled):active {
  outline: none;
  background-color: #C6C6C6;
  border: 0;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.socials-headers {
  display: flex;
  align-items: center;
  h3 {
    font-size: 21px;
  }
}

.socials-edit{
  a {
    display: flex;
    color: #474545;
    font-weight: 400;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
    i:hover {
      color: #7a7a7a;
    }
  }
  h3{
    padding-right: 5px;
    color: #333333;
    font-weight: 600;
    letter-spacing: -0.03rem;
  }
}

.bio-socials {
  margin-top: 8px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  a{
    color: #474545;
    font-weight: 400;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.socials {
  line-height: 1em;
  margin: 0 10px 0px 0px;
  padding: 10px;
  background: #EAEAEA;
  border-radius: 50%;
  width: 40px;
  outline: none !important;
}

.socials i {
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
}

.bio-socials i {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}
