.users-index-wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 576px){
    height: calc(100vh - 60px);
    margin-top: 60px;
  }
  @media (min-width: 992px){
    flex-direction: row;
    align-items: flex-start;
  }
  :after {
    content: '';
    flex-grow: 100;
  }
}

.users-index-container {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  @media (min-width: 576px){
    padding: 0 20px;
  }
}

.users-index-total-count {
  margin-left: 5px;
  margin-bottom: 5px;
  color: #D3D3D3;
  strong {
    color: #929292;
  }
}

.users-list-wrapper {
  flex: 1 0 auto;
}

.users-list-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.users-card-wrapper {
  padding: 0 5px;
  flex: 0 0 50%;
  @media (min-width: 576px){
    flex: 1 0 200px;
  }
}

.users-card-container {
  margin: 5px 0;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  overflow: hidden;
  position: relative;
  transition: 1s;
  :hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25) !important;
    cursor: pointer;
  }
}

.users-card-img {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.users-card-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  .users-card-name-light {
    font-weight: 100;
  }
  h3 {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin: 0;
  }
}

.users-card-content {
  padding: 10px;
  width: 100%;
  span {
    font-size: 15px;
    .city {
      font-weight: 600;
    }
  }
}
