<div class="three-steps-navbar">
  <div class="go-back-button">
    <p>< Go Back</p>
  </div>
  <div class="three-steps-container">
    <div class="ring">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring active">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <%= link_to 'Call us on 022198819134', "tel: 022198819134" %>
  </div>
</div>

<div class="contracts-page-wrapper">
  <div class="contract-page-container">
    <h1>Your Contract for your perfect Co-Living experience</h1>
    <embed src="/user/<%= @user.id %>/contracts/<%= @contract.id %>/<%= @authentity_token_contract %>.pdf" type="application/pdf">
  </div>
</div>


