<!-- <div class="three-steps-navbar">
  <div class="go-back-button">
    <p>< Go Back</p>
  </div>
  <div class="three-steps-container">
    <div class="ring">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring active">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <%#= link_to 'Call us on 022198819134', "tel: 022198819134" %>
  </div>
</div>
<div class="contracts-page-wrapper">
  <div class="contract-page-container">
    <h1>Rental Contract</h1>
    <%#= render 'pdf' %>
    <embed src="/bookings/<%= @booking.id %>/contracts/new/<%= @authentity_token_contract %>.pdf" type="application/pdf">
    <div class="button-container">
      <div class="button sign" id="sign-button">Sign</div>
      <div class="button next-step">Next</div>
    </div>
  </div>
</div>
<button class="btn btn-danger">Sign</button>
 -->
<!--

<%#= simple_form_for contract_pdf_path do |f| %>
  <%#= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
  <div class="signature_pad text-center">
    <div class="signature_pad_body">
      <canvas></canvas>
    </div>
    <div class="signature_pad_footer">
      <div class="text-muted">Sign above</div>
      <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
      <%#= f.button :submit, 'Save', class: 'btn btn-success signature_pad_save'  %>
    </div>
  </div>
<%# end %>
 -->

<%= render 'signature_popup' %>
