<div class="apply-formpage-wrapper">
  <div class="apply-formpage-top">
    <h1 class="apply-formpage-header">
      Thank you for your interest in our concept. We would love to get in touch with you. Please give us the following information so we can contact you soon.
    </h1>
    <%= image_tag "https://res.cloudinary.com/dvuqwvjay/image/upload/v1550506076/rawpixel-567016-unsplash-min.jpg", class: "apply-formpage-picture" %>
  </div>
  <div class="apply-form-wrapper user">
    <%= render 'shared/partner_apply_form', partner: @partner %>
  </div>
</div>
