<div class="flat-choose">
  <h2>Where Do You Want To Live Next?</h2>
</div>
<div class="flat-cards-wrapper">
  <div class="flat-cards-container">
    <% @flats.each do |flat| %>
      <%= render 'shared/flat_cards', flat: flat, applicant: @applicant, authentity_token_contract: @authentity_token_contract %>
    <% end %>
  </div>
</div>
<% if current_user.admin? %>
  <%= link_to 'Create new Flat', new_flat_path, class: "stacey-button" %>
<% end %>
