<%= render 'shared/three_step_rings' %>
<%= render 'shared/projects_banner', flat: @flat %>
<div class="room-cards-list-wrapper">
  <div class="room-card-wrapper">
    <% @rooms.each do |room| %>
      <%= render 'shared/room_cards', flat: @flat, room: room %>
    <% end %>
    <%#= render 'shared/rooms_detail_popup', room: Room.first %>
  </div>
</div>
<div class="contract-page-quote">
  <p>”ALONE WE CAN DO SO LITTLE;</p>
  <p style="margin-bottom: 25px;">TOGETHER WE CAN DO SO MUCH”</p>
  <p class="quote-name">Helen Keller</p>
</div>
<%#= render 'shared/community_area' %>

