<div class="short_booking_calendar_wrapper">
  <p><%= @room_name %></p>
  <% available_booking_times.each do |time| %>
    <p class="available_time"><%= time %></p>
    <p class="available_time"><%= time %></p>
  <% end %>
</div>
