<!-- <%# @bookings.each do |booking| %>
  <li><%#= booking.user.full_name %></li>
  <li><%#= booking.room.name %></li>
  <li><%#= booking.move_in.strftime('%d.%B %Y') %></li>
  <li><%#= booking.move_out.strftime('%d.%B %Y') %></li>
<%# end %>
<%# @bookings.each_with_index do |booking, index| %>
  <li><%#= booking.move_out + 1.day %> - <%#=  @bookings[index + 1].present? ? @bookings[index + 1].move_in - 1.day : 'open' %></li>
<%# end %>
 -->

<div id="overview-container" data-bookings="<%= @bookings.to_json %>"></div>

<!-- Exaample for passing dataAttributes -->
<!-- <div id="react_redux_app"
  data-someAttribute=<%#= SomeAttribute.all.to_json %>
></div> -->

<% content_for :after_js do %>
  <%= javascript_pack_tag "overview" %>
<% end %>
