<div class="apply-formpage-wrapper">
  <div class="apply-formpage-top">
    <h1 class="apply-formpage-header">
      We just have a few questions so we can get to know you a little better.
    </h1>
    <%= image_tag "https://res.cloudinary.com/dvuqwvjay/image/upload/v1549884021/simon-maage-706908-unsplash_1_-min.jpg", class: "apply-formpage-picture" %>
  </div>
  <div class="apply-form-wrapper user">
    <%= render 'shared/user_apply_form', user: @user %>
  </div>
</div>

<%= render 'shared/footer' %>
