<div class="success-wrapper">
  <div class="success-container">
    <i class="fas fa-check-circle success-icon"></i>
    <h1>Perfect! You are one step closer to the start of your Co-Living adventure</h1>
    <p>Your application just showed up in our inbox. We'll contact you soon!</p>
    <%= link_to "BACK TO HOME", "http://www.stacey-living.de", class: "btn back-home-button" %>
  </div>
</div>
