<div class="communtiy-area-wrapper">
  <div class="community-area-container">
    <div class="community-area-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    </div>
    <div class="community-area-pictures-banner">
      <p>Eppendorf Community Area</p>
    </div>
    <div class="community-area-description">
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Fully equiped kitchen</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Spacious living room</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Pool table</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Work space</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Smart TV</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Sonos sound system</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Laundry room</p>
      </div>
      <div class="description-point">
        <i class="fas fa-check"></i>
        <p>Designed furniture</p>
      </div>
    </div>
  </div>
</div>
