<div class="projects-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
  <h1>Eppendorf</h1>
  <p>Choose your private Suite</p>
</div>
<div class="projects-sentence-container">
  <div class="projects-sentence">
    <p>A microcosm of the world; everything is in Eppendorf. Find every culture, industry, and opportunity in the city that never sleeps. Our community in Eppendorf is just as diverse as the neighbourhood.</p>
  </div>
</div>

