<div class="projects-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'https://res.cloudinary.com/dvuqwvjay/image/upload/v1553613447/eppendorf-hoheluft-hamburg-min.jpg', crop: :fill %>');">
  <h1>STACEY <%= flat.project_name %></h1>
  <div class="projects-street">
    <div class="line"></div>
    <h3><%= flat.street %></h3>
    <div class="line"></div>
  </div>
</div>
<div class="projects-sentence-container">
  <div class="projects-sentence">
    <p>A microcosm of the world; everything is in Eppendorf. Find every culture, industry, and opportunity in the city that never sleeps. Our community in Eppendorf is just as diverse as the neighbourhood.</p>
  </div>
</div>

