<div class="room-card">
  <div class="room-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  </div>
  <div class="room-card-description">
    <div class="room-category">
      <p class="room-art"><%= room.art_of_room %></p>
    </div>
    <div class="room-price">
      <p class="from light-font">from</p>
      <p class="price"><%= room.price[0] %>€</p>
    </div>
  </div>
  <div class="card-details">
    <div class="room-details">
      <div class="detail">
        <i class="fas fa-couch"></i>
        <p>Fully Furnished</p>
      </div>
      <div class="detail">
        <i class="fas fa-broom"></i>
        <p>Weekly Cleaning</p>
      </div>
      <div class="detail">
        <i class="fas fa-wifi"></i>
        <p>High Speed Wifi</p>
      </div>
      <div class="detail">
        <i class="fas fa-tv"></i>
        <p>Netflix</p>
      </div>
      <div class="detail">
        <i class="fas fa-volume-up"></i>
        <p>Sonos Speakers</p>
      </div>
      <div class="detail">
        <i class="fas fa-utensils"></i>
        <p>Communal Kitchen</p>
      </div>
      <div class="detail">
        <i class="fas fa-briefcase"></i>
        <p>Working Spaces</p>
      </div>
      <div class="detail">
        <i class="fas fa-table-tennis"></i>
        <p>Tabletennis</p>
      </div>
      <!-- <p>Queen Size Bed</p> -->
      <!-- <p>Free Onsite Laundry</p> -->
      <!-- <p>1 Person</p> -->
    <!-- </div>
    <p class="community-service-header">Community Area Services</p>
    <div class="community-details wrap-list"> -->
      <!-- <p>Communal Living Room</p> -->
    </div>
  </div>
  <a href="<%= link %>" class='room-card-link'>Explore this Suite</a>
  <%#= link_to 'Explore this Suite', link, class: 'room-card-link' %>
</div>
