<div class="signature-pad-wrapper hidden">
  <div id="signature-pad" class="signature-pad">
    <div class="signature-navbar">
      <%= image_tag 'keyboard.png' %>
      <%= image_tag 'hand-writing.png' %>
    </div>
    <div class="signature-text">
      <%= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
      <div class="signature-pad-body">
        <canvas></canvas>
        <div class="line"></div>
        <div type="button" class="clear change" data-action="clear">Clear</div>
        <div type="button" class="undo change" data-action="undo">Undo</div>
        <div class="sign-shield">Sign</div>
        <div class="sign-shield-arrow"></div>
      </div>
      <div class="signature-pad-footer">
        <div class="signature-pad-actions">
          <button type="button" class="button signature-pad-close" data-action="close">Close</button>
          <button type="button" class="button signature-pad-close" data-action="save-png">Sign</button>
          <%#= f.button :submit, 'Sign', class: 'btn btn-success save' %>
        </div>
      </div>
    </div>
  </div>
</div>
