<div class="three-steps-navbar">
  <div class="go-back-button">
    <p>< Go Back</p>
  </div>
  <div class="three-steps-container">
    <div class="ring active">
      <p>1</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>2</p>
    </div>
    <div class="line"></div>
    <div class="ring">
      <p>3</p>
    </div>
  </div>
  <div class="phone">
    <p>Call us on 022198819134</p>
  </div>
</div>

