<p>Hello <%= @user.first_name %>,</p>

<p>Unfortunately, we do have to resign from the rental agreement as we have neither received the deposit, nor a transaction confirmation of the deposit till this date.</p>

<p>If however, you are still interested in staying with us, please get in contact with me immediately.</p>

<span>Cheers</span>
<br>
<span>Buu</span>
<br>
<%= image_tag attachments['logo.png'].url, style: 'margin-top: 20px; width: 150px;' %>
