<p>Hello <%= @user.first_name %>,</p>

<p>Thanks for taking your time for the short call with me. We think that you are a perfect match to our community!  If you feel ready to select your desired suite and complete your booking with us, the link below will take you there.</p>

<span><%= link_to 'booking process', booking_projects_url(@booking.booking_auth_token, @booking.id), style: 'color: blue;' %></span>

<p style="margin-bottom: 5px;">It only takes 3 steps:</p>
<ol style="margin-top: 5px; padding-left: 18px;">
  <li>Choose your preferred suite</li>
  <li>Sign your rental agreement</li>
  <li>Complete the booking</li>
</ol>

<p>Please complete the booking till the <%= @booking.booking_auth_token_exp.strftime('%d.%B %Y') %>. If problems occur, reply to this mail or call me at +49 40 696389600.</p>

<span>Cheers</span>
<br>
<span>Hannah</span>
<br>
<%= image_tag attachments['logo.png'].url, style: 'margin-top: 20px; width: 150px;' %>
