<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="calendar-section">
  <%= month_calendar events: @welcome_calls do |date, calls| %>
    <%= date %>
    <%# calls.each do |call| %>
      <%#= call.start_time.to_date %>
    <%# end %>
  <% end %>
</div>
