<!-- <div class="welcome-one-pager-pdf"> -->
  <div class="page">
    <%= wicked_pdf_image_tag 'stacey_logo_pink.png', class: 'stacey-logo-pdf' %>
    <h3>WELCOME TO OUR COMMUNITY</h3>
    <p>You are now part of a community that connects fabulous people from all over the world.</p>
    <p>Move-in, make new friends and discover the city of Hamburg.</p>

    <p style="color: red;">Please read the following carefully, as it includes all information needed for your stay with us!</p>

    <p style="font-weight: bolder;">What do I need to bring?</p>
    <p>All our suites are move-in ready! You only need to bring your suitcase & towels. We will take care of the rest.</p>

    <p style="font-weight: bolder;">Which basic supplies are included?</p>
    <p>Here is a list of basic suppliles, which STACEY provides for you:</p>
    <ul>
      <li>Washing agent</li>
      <li>Hand soap</li>
      <li>Kitchen paper</li>
      <li>Toilet paper</li>
      <li>Coffee capsules</li>
      <li>Dish detergent</li>
      <li>Dishwasher tabs</li>
      <li>Trash bags</li>
    </ul>

    <p style="font-weight: bolder;">Where are my keys?</p>
    <p>We use Kiwi as the Smart Lock solution for all doors. To get started:</p>
    <ul>
      <li>Open the Kiwi message in your e-mail inbox</li>
      <li>Sign in</li>
      <li>Now you can open all doors with your mobile phone</li>
    </ul>

    <p>In your room you will find a KIWI chip, which you can also use. At the front doors you can hold it against the nameplate, on the handle in front of the sensor.</p>
  </div>
  <div class="page-break"></div>
  <div class="page">
    <%= wicked_pdf_image_tag 'stacey_logo_pink.png', class: 'stacey-logo-pdf' %>

    <p style="font-weight: bolder;">What about the weekly cleaning?</p>
    <p>Our cleaning team will clean your Suite on a weekly basis. Please ask your roommates, if it takes place on Monday or Thursday.</p>
    <p>To ensure an optimal cleaning experience, here is our suggestion:</p>
    <ol>
      <li>Remove your stuff from the floor, tables, etc. and store it inside the wardrobe or on your bed</li>
    </ol>

    <p>Our cleaners will clean all spaces, which are made available to them.
    The cleaning of the Common Space will take place 2x a week (Monday & Thursday)</p>

    <p style="font-weight: bolder;">How do I communicate with you?</p>
    <p>Slack is the communication platform for the entire community</p>
    <ol>
      <li>Open the Slack message in your e-mail inbox</li>
      <li>Sign in</li>
      <li>Now you can communicate with us (STACEY Team) and all other members</li>
    </ol>

    <p style="text-decoration: underline;">#mühlenkamp-general</p>
    <p>All general information concerning recent topics within the location are exchanged here</p>
    <p style="text-decoration: underline;">#mühlenkamp-refill</p>
    <p>We offer a range of "Basic Supplies" You will find these on the shelf inside the common area. If anything is empty, please ask here for a refill</p>
    <p style="text-decoration: underline;">#mühlenkamp-passwords</p>
    <p>All passwords (Internet, etc.)</p>

    <p style="font-weight: bolder;">How does the heating work?</p>
    <p>There are night storage heaters in your room and the common spaces. Please note that these heat up in the evening and the temperature cannot be regulated during the day.</p>
    <ol>
      <li>Temperature can be set directly on the heater</li>
      <li>Wall mounted thermostat only operates the ventilation</li>
    </ol>
  </div>
<!-- </div> -->
