<div class="one-input">
  <span class="project-room-header">Create a Room</span>
  <div class="form-inputs">
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, '#', class: 'remove_record' %>
    <%= f.input :number %>
    <%= f.input :house_number %>
  </div>
</div>
