<h3 class="list-header">Create a new Project</h3>
<div class="list-position">
  <div class="list-wrapper">
    <%= render 'form', project: @project, amenities: @amenities, last_project: @last_project %>
  </div>
</div>
