<div id="overview-container" data-bookings="<%= @bookings.to_json %>"></div>

<!-- Exaample for passing dataAttributes -->
<!-- <div id="react_redux_app"
  data-someAttribute=<%#= SomeAttribute.all.to_json %>
></div> -->

<% content_for :after_js do %>
  <%= javascript_pack_tag "overview" %>
<% end %>