<h3 class="list-header">Create more Rooms for <%= @project.name %></h3>
<div class="list-position">
  <div class="list-wrapper">
    <%= simple_form_for @room, url: booking_project_rooms_path('sd', Booking.first, @project), html: {class: 'new-form'} do |f| %>
      <%= render 'projects/room_fields', f: f %>
      <div class="form-actions">
        <%= f.submit class: 'stacey-button reverse-hover' %>
      </div>
    <% end %>
  </div>
</div>
