.amenities{
  display: flex;
  flex-wrap: wrap;
  .amenity{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 3px;
    word-break: break-all;
    img{
      margin-right: 9px;
    }
    span{
      font-size: 16px;
      word-break: normal;
    }
  }
  .size{
    width: 100%;
  }
}

.roomtype-show-amenities{
  margin-bottom: 50px;
  padding: 15px 25px;
  font-size: 14px;
  .amenity-section{
    padding-top: 10px;
  }
  .amenity-section:first-child{
    padding-top: 0;
  }
}
