.booking-form-wrapper{
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 50px;
  right: 60px;
  background: white;
  padding: 30px;
  border: 1px solid #777777;
  border-radius: 5px;
  height: fit-content;
  margin-top: -50px;
  .booking-form-section{
    width: 100%;
    padding-bottom: 10px;
    .info-field{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border: 1px solid #777777;
      border-radius: 5px;
      margin-bottom: 10px;
      .header{
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    .simple_form{
      #booking_room_id{
        font-size: 14px;
      }
      .rooms_availabilities{
        .one-availability{
          display: flex;
          align-items: baseline;
          margin-bottom: 3px;
          input[type='checkBox']{
            margin-right: 15px;
          }
        }
      }
      .d-flex.flex-row.justify-content-between.align-items-center{
        border: 1px solid #777777;
        border-radius: 5px;
        padding: 0 12px;
        select{
          margin: 0 !important;
          padding: 6px 0;
          text-align-last: center;
        }
        .form-control{
          width: auto;
          border: none;
          color: #0E0000;
        }
      }
      .book-button{
        width: calc(100% - 60px);
        position: absolute;
        bottom: 25px;
        padding: 8px 15px;
      }
    }
  }
  .booking-form-section:last-child{
    padding-bottom: 0;
    margin-bottom: 50px;
  }
}

.price-info-position{
  position: absolute;
  right: 15px;
}

.price-info {
  position: relative;
  display: inline-block;
  i{
    font-size: 16px;
  }
}

.price-info .price-info-text {
  visibility: hidden;
  border-collapse: unset;
  background-color: white;
  color: black;
  width: 170px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid black;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  right: -82px;
  margin-left: -60px;
}

.price-info .price-info-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.price-info:hover .price-info-text {
  visibility: visible;
}

.roomtype-wrapper{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  position: relative;
  .booking-form{
    // width: 30%;
    // margin-right: 10px;
    height: fit-content;
    // position: sticky;
    top: 50px;
    background-color: white;
    padding: 30px;
    border: 1px solid #777777;
    border-radius: 5px;
    margin-top: -50px;
    display: grid;
    grid-gap: 20px;
    .booking-section{
      display: flex;
      flex-direction: column;
      width: 100%;
      .label{
        margin-bottom: 0.5rem;
      }
      &.bordered{
        align-items: center;
        border: 1px solid #777777;
        border-radius: 5px;
        padding: 10px;
        span:first-child{
          font-weight: 500;
        }
        &.margin-top{
          margin-top: 10px;
        }
        &.margin-bottom{
          margin-bottom: 10px;
        }
      }
      .booking-form-input{
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid #384a52;
        border-radius: 0px !important;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        background-image: none;
        padding: 6px 12px;
      }
    }
  }
  .stacey-button{
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .roomtype-wrapper{
    flex-direction: row;
    .booking-form{
      width: 37%;
      position: sticky;
    }
  }
}

@media (min-width: 1400px) {
  .roomtype-wrapper{
    .booking-form{
      width: 30%;
      margin-right: 10px;
    }
  }
}