.cards-wrapper{
  min-height: calc(100vh - 74px - 286px);
  margin: 0 50px;
  .suites-header{
    font-weight: 500;
    font-size: 24px;
  }
  .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .stacey-card{
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 25%;
      position: relative;
      border: 1px solid #c2c2c2;
      background: white;
      margin: 10px 24px 10px 0;
      min-width: 335px;
      .availability{
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
        background: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        padding: 3px 10px;
      }
      .stacey-card-header{
        display: flex;
        padding: 4px 24px 0;
        align-items: center;
        justify-content: space-between;
        .name{
          font-size: 24px;
          font-weight: 500;
          line-height: 29px;
          display: flex;
          flex-direction: column;
        }
        .price{
          min-width: fit-content;
          display: flex;
          justify-content: center;
          padding: 12px;
          border: 1px solid #fd8eb8;
          border-radius: 5px;
          align-items: center;
          strong{
            padding-left:4px;
          }
        }
      }
      .amenities{
        margin-bottom: 50px;
        padding: 15px 0;
        font-size: 14px;
      }
      .photo{
        height: 200px;
      }
      .stacey-card-button{
        align-self: center;
        width: 87%;
        text-align: center;
        margin: 10px 0 20px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
