.footer-wrapper{
  height: 300px;
  width: 100%;
  background: #333333;
  color: rgba(255,255,255,0.75);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .footer-container{
    padding-left: 150px;
    p{
      margin: 0;
    }
    .project-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 170px;
      margin-bottom: 30px;
      .arrow {
        font-size: 26px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
    .project-infos p:last-child {
      margin-bottom: 20px;
    }
    .phone {
      text-decoration: none;
      color: rgba(255,255,255,0.75);
    }
  }
}
