.simple_form{
  .form-group{
    select{
      -webkit-appearance: none;
    }
    ::placeholder{
      opacity: 0.2;
    }
    .form-control{
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #384a52;
      border-radius: 0px !important;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      background-image: none;
      padding: 6px 12px;
    }
    label, legend{
      color: black;
      font-size: 15px;
      abbr[title="required"]{
        display: none;
      }
    }
    .form-control:focus{
      color: black;
    }
  }
  .btn.focus{
    box-shadow: none;
  }
  .form-check-input.is-valid ~ .form-check-label {
    color: inherit;
  }
  // label{
  //   color: black;
  // }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #d1d5da;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}




.move-placeholder-wrapper{
  position: relative;
  height: 56px;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  background: white;
  width: 100%;
  &.error{
    border-color: red;
  }
}
.move-placeholder-input, .PhoneInputInput{
  position: relative;
  width: 100%;
  height: 56px;
  background: transparent;
  border: 0;
  font-weight: 700;
  text-indent: 0.75rem;
  color: black;
  &:focus + .move-placeholder-placeholder{
    color: black;
    transform: translate(0.625rem, -10px) scale(0.8);
    padding: 0 3px;
  }
}

.move-placeholder-input:not(:focus):placeholder-shown + .move-placeholder-placeholder{
  transform: translate(0.5rem, 15px);
}

.move-placeholder-placeholder{
  transform: translate(0.625rem, -10px) scale(0.8);
  color: gray;
  position: absolute;
  z-index: 1;
  top: 0;
  font-weight: 700;
  transform-origin: 0% 0%;
  background: white;
  pointer-events: none;
  transition: 0.5s, background 0.3s;
}

.move-placeholder-wrapper.phone .move-placeholder-placeholder{
  transform: translate(calc(0.625rem + 40px), -10px) scale(0.8);
}

.move-placeholder-wrapper.phone .placeholder-shown:not(.PhoneInput--focus) + .move-placeholder-placeholder{
  transform: translate(calc(0.5rem + 40px), 15px);
}

// .move-placeholder-wrapper.phone .PhoneInput:focus-within + .move-placeholder-placeholder {
//   transform: translate(calc(0.625rem + 40px), -10px) scale(0.8);
// }
