.list-header{
  text-align: center;
  margin: 30px;
  text-decoration: underline;
}
.list-position{
  display: flex;
  justify-content: center;
  padding: 0 5%;
  flex: 1 1 auto;
  margin: 40px 0 30px;
  .list-wrapper{
    background-color: #FFF;
    width: 90%;
    border: 1px solid #DADADA;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .list-navbar{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 16px 24px 0;
      align-items: baseline;
      border-bottom: 1px solid lightgray;
      .options{
        display: flex;
        a.option{
          padding: 0 15px 24px;
          color: black;
          width: max-content;
        }
        a.option:hover{
          text-decoration: none;
          border-bottom: 2px solid gray;
        }
        a.option.active{
          border-bottom: 2px solid blue;
        }
        a.option.active:hover{
          border-bottom: 2px solid blue;
        }
      }
      .one-list-navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: baseline;
      }
      .one-list-navbar.flex-end{
        justify-content: flex-end;
      }
      .one-list-navbar.padding-top{
        padding-top: 20px;
      }
      .between-navbar-line{
        border-bottom: 1px solid lightgray;
        width: calc(100% + 48px);
        margin: 0 0 0 -24px;
      }
      .navbar-infotext{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 14px;
      }
    }
    .list-container{
      display: flex;
      flex-direction: column;
      .date{
        padding: 16px 24px;
        border-bottom: 1px solid #DADADA;
        background-color: #F9F9F9;
      }
      .list-context-container{
        text-decoration: none;
        border-bottom: 1px solid lightgray;
        // :hover{
        //   background-color: #f7f7f7;
        // }
        .list-info{
          display: flex;
          justify-content: space-between;
          color: black;
          padding: 20px 40px;
          align-items: center;
          .attendance{
            font-size: 20px;
            span{
              cursor: pointer;
            }
            .attended{
              margin-right: 20px;
            }
            .green{
              color: green;
            }
            .red{
              color: red;
            }
          }
          .set-width{
            width: 25%;
          }
          .details{
            cursor: pointer;
            display: flex;
            align-items: center;
            width: fit-content;
            i{margin-right: 3px;}
          }
          .details-header{
            width: fit-content;
          }
          .list-header{
            font-weight: 500;
            margin: 0;
            text-align: unset;
          }
        }
        .list-detail{
          position: relative;
          margin-bottom: 20px;
          .invite-link{
            display: flex;
            justify-content: center;
          }
          .user-info{
            border-collapse: separate;
            border-spacing: 40px 0;
            width: 50%;
            tr{
              td{
                word-break: break-word;
              }
              td:first-child{
                width: 42%;
              }
              td:last-child{
                width: 58%;
              }
            }
          }
          .edit-user-button{
            position: absolute;
            right: 20px;
            bottom: 0;
          }
        }
        .list-detail.two-tables{
          display: flex;
        }
      }
      .list-context-container:not(:first-child):hover{
        background-color: #f7f7f7;
      }
      .list-end{
        padding: 16px 28px 0;
        text-align: center;
        color: gray;
        font-size: 14px;
      }
    }
  }
}

.modal-content{
  .modal-header{
    align-items: center;
    .user-status{
      padding: 2px 4px;
      background-color: $stacey-pink;
      color: white;
      border-radius: 30%;
    }
    .modal-title{
      width: 95%;
      text-align: center;
      position: absolute;
    }
    .close{
      margin: -1rem 0;
    }
  }
  .modal-body{
    min-height: 340px;
    .invite-link{
      display: flex;
      justify-content: center;
    }
    .table-tabs{
      display: flex;
      justify-content: space-evenly;
      font-size: 19px;
      span{
        cursor: pointer;
      }
      .active{
        text-decoration: underline;
        font-weight: 500;
      }
    }
    .user-info{
      width: 100%;
      table-layout: fixed;
      tr{
        td{
          padding: 4px 0;
        }
        td:first-child{
          width: 30%;
        }
        td:last-child{
          width: auto;
        }
      }
    }
  }
}
