/* Main navbar */
.navbar-stacey-container {
  background: transparent;
  // position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.navbar-stacey {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.navbar-stacey-brand img {
  height: 30px;
}

/* User Avatar */
.navbar-stacey .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.avatar-placeholder {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin: 0;
  }
}

/* Right section */
.navbar-stacey-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-stacey-item {
  cursor: pointer;
  padding: 0 20px;
  color: white;
}

/* Navbar link */
.navbar-stacey-link {
  color: white;
  font-size: 14px;
  transition: color 525ms ease,background-color 525ms ease,opacity 525ms ease, border-color 525ms ease;
}

.interested {
  border: 1px solid #fff;
  padding-bottom: 6px;
  padding-top: 6px;
}

.navbar-stacey-link:hover{
  color: #d4af37;
  text-decoration: none;
  border-color: #d4af37;
}

/* Dropdown menu */
.navbar-stacey-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-stacey-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-stacey-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-stacey-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
