.stripe-section{
  #payment-form{
    margin-top: 30px;
  }
  #mandate-acceptance{
    font-size: 14px;
    color: #8898aa;
    text-align: left;
    margin-top: 17px;
  }
  .terms-and-conditions{
    font-size: 15px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    p{
      margin: 0;
    }
    #terms-and-conditions{
      margin: 0 10px 0 0;
    }
  }
  .terms-and-conditions.terms-and-conditions-error{
    position: absolute;
    top: 17px;
    font-size: 13px;
    color: red;
  }
  .payment-button{
    margin-top: 20px;
    width: 100%;
  }
  .buttons{
    position: relative;
  }
  #overlay-button{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 20px;
    width: 100%;
  }
  #bank-name{
    font-size: 12px;
    color: #8898aa;
  }
}

.StripeElement {
  height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
