.three-steps-navbar{
  display: flex;
  justify-content: center;
  background: white;
  padding: 17px;
  align-items: center;
  z-index: 10;
  .three-steps-navbar-logo{
    position: absolute;
    left: 50px;
    height: 28px;
    img{height: inherit;}
  }
  .rings-container{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: baseline;
    .ring{
      color: black;
      border: 1px solid black;
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .line{
      min-width: 13%;
      border-bottom: 1px solid;
    }
    .active{
      border-bottom: 2px solid $stacey-pink;
      color: white;
    }
    .ring.active{
      background: $stacey-pink;
      border-color: #fd8fb8;
    }
  }
}
