.three-steps-navbar {
  background: transparent;
  display: flex;
  height: 60px;
  width: 100%;
  color: white;
  justify-content: space-around;
  align-items: center;
  p{
    margin: 0;
    color: black;
  }
  .go-back-button {
    position: absolute;
    left: 100px;
  }
  .phone {
    position: absolute;
    right: 100px;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .phone a:hover{
    color: #000000c2;;
  }

  .three-steps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    min-width: fit-content;
    .line {
      width: 100%;
      border-bottom: 1px dotted #fd8fb8;
      border-width: 3px;
    }
    .active-line{
      border: 1px solid white;
    }
    .ring {
      color: black;
      border: 1px solid #fd8fb8;
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
        font-size: 20px;
      }
    }
    .active {
      color: #fd8fb8;
    }
  }
}
