<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%#= stylesheet_link_tag '/stylesheets/welcome' %>
      /* Email styles need to be inline */
      .signature-text {
        margin: 0 0 3px 0;
      }

      .signature-name {
        margin-top: -10px;
      }

      p {
        padding: 0 3%;
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
