<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%#= stylesheet_link_tag '/stylesheets/welcome' %>
      /* Email styles need to be inline */
      .email-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #d3d3d336;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .email-container {
        max-width: 60vw;
        background: white;
        height: fit-content;
        padding-bottom: 10px;
      }
      .email-image {
        width: 100%;
        height: 40vh;
      }

      .signature-text {
        margin: 0 0 3px 0;
      }

      .email-stacey-logo {
        height: 30px;
        margin: 45px 0 25px 0;
      }

      .schedule-call-button {
        width: 15vw;
        height: 5%;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        background-color: black;
        font-size: 17px;
        margin-left: 3%;
      }

      .schedule-call-button-link {
        text-decoration: none;
        color: white;
      }

      p {
        padding: 0 3%;
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
